<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>no title!</title>
        {% endif %}
    </head>
  <body>
    <h1>ADS-R</h1>
    <h2>{{ title }}</h2>
    <p>
      {% for elem in author %}
      elem,
      {% endfor %}
    </p>
    <p>
      {{ abstract }}
    </p>
    <p>
      Publication:
      {{ publisher }}
    </p>
    <p>
      Pub Date:
      {{ pubdate }}
    </p>
    <p>
      DOI:
      {{ doi }}
    </p>
    <p>
      Bibcode:
      {{ bibcode }}
    </p>
    <p>
      Keywords:
      {% for elem in keyword %}
      elem;
      {% endfor %}
    </p>
    <p>
      E-Print Comments:
      {{ comments }}
    </p>
      
  </body>
</html>
