{% extends "base.html" %}

{% block content %}

<section class="section">
  <hr class="hr">
  <div class="container">
    <div>
        <p>
            <strong>
              {% for title in doc.title %}
              {{ title|safe }};
              {% endfor %}
            </strong>
            <br>
              {% for author in doc.author %}
              <a href="{{ url_for('index', q='author:' + author) }}">{{ author }}</a>;
              {% endfor %}
            <br>
            <br>
            {{ doc.abstract|safe }}
            <br>
            <br>
            <strong>Publication:</strong> {{ doc.pub }}
            <br>
            <strong>Publication date:</strong> {{ doc.pubdate }}
            <br>
            <strong>Bibcode:</strong> {{ doc.bibcode }}<br/>
            <a href="{{ url_for('index', q='citations(bibcode:'+doc.bibcode+')') }}">Citations ({{ doc.citation_count }})</a>
            |
            <a href="{{ url_for('index', q='references(bibcode:'+doc.bibcode+')') }}">References</a>
            |
	    {% for esource in doc.esources %}
	    <a href="{{ esource.url }}">{{ esource.link_type}}</a> |
	    {% endfor %}
            <a href="{{ url_for('export', bibcode=doc.bibcode) }}">BibTeX</a>
        </p>
    </div>
  </div>
</section>




{% endblock %}
