{% extends "base.html" %}

{% block content %}
    {% if request.referrer and request.url_root in request.referrer %}
    <a href="{{ request.referrer }}" class="btn btn-light">Go to search</a>
    {% else %}
    <a href="{{ url_for('index') }}" class="btn btn-light">Go to search</a>
    {% endif %}

    <h2>{{ results.title[0] }}</h2>
    <p>
      {% for elem in results.author %}
      {{ elem }},
      {% endfor %}
    </p>
    <p>
      {{ results.abstract }}
    </p>
    <p>
      Publication:
      {{ results.publisher }}
    </p>
    <p>
      Pub Date:
      {{ results.pubdate }}
    </p>
    <p>
      DOI:
      {{ results.doi }}
    </p>
    <p>
      Bibcode:
      {{ results.bibcode }}
    </p>
    <p>
      Keywords:
      {% for elem in results.keyword %}
      {{ elem }};
      {% endfor %}
    </p>
    <p>
      E-Print Comments:
      {{ results.comments }}
    </p>
    <p>
    Publisher: <a href="https://ui.adsabs.harvard.edu/link_gateway/{{ results.bibcode }}/ESOURCE">Full text</a>
    </p>
    <p>
    <a href="{{ url_for('export', bibcode=results.bibcode) }}" class="btn btn-dark">Export Bibtex</a>
    </p>
{% endblock %}
