<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Totext!</title>
        {% endif %}
    </head>
    <body>
        <h3>Hello, {{ auth.client_id }}!</h3>
        <h3>Your token is {{ auth.access_token }}!</h3>
        <br/><br/>
        <div align="center">
          <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
              {{ form.query(size=64) }}
              {{ form.submit() }}</p>
	  </form>
	</div>
	{% if results %}
        <h3>Found {{ results.numFound }} records</h3>
        {% for doc in results.docs %}
          <div><p><b>{{ doc.bibcode }}</b><br/>{{ doc.title[0] }}</p></div>
        {% endfor %}
      {% endif %}
    </body>
</html>
